In [1]:
import csv
import json
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import math
import random
import pygal
from random import uniform
from datetime import date

## Création du dataset et classification

In [4]:
csvFilePath = r'Dataset_PRM.xlsx'
df = pd.read_excel(csvFilePath)
df = df.drop(columns=['Unnamed: 7', 'Unnamed: 9', 'Nbcar'])
df = df.rename(columns={"Unnamed: 6": "nom DPT"})
df

,Nom_commune,Code_postal,latitude,longitude,DPT,Nom DPT,Departement
0,APREMONT,1100,46.205498,5.657815,1,Ain,1.0
1,ARS SUR FORMANS,1480,45.993461,4.821996,1,Ain,1.0
2,BANEINS,1990,46.114121,4.901465,1,Ain,1.0
3,BELLIGNAT,1100,46.237350,5.636005,1,Ain,1.0
4,VALSERHONE,1200,46.106790,5.832027,1,Ain,1.0
...,...,...,...,...,...,...,...
39187,LE MONT DORE,98876,NaN,NaN,98,NaN,NaN
39188,NOUMEA,98800,NaN,NaN,98,NaN,NaN
39189,PAITA,98840,NaN,NaN,98,NaN,NaN
39190,PAITA,98889,NaN,NaN,98,NaN,NaN
39191,PONERIHOUEN,98823,NaN,NaN,98,NaN,NaN

## Affichage sous forme de carte

In [ ]:
fr_chart = pygal.maps.fr.Departments(human_readable=True)
fr_chart.title = 'Population by department'
fr_chart.add('OC', ['01', '35', '03', '75'])
fr_chart.add('OIL', ['2A', '2B'])